.head {
    height: 70px;
    background-color: #F6F6F6;
    opacity: 0.8;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: 0px 15px 10px -15px #111;
}

.text {
    font-family: Bradley Hand, cursive;
    width: 600px;
    font-size: 20px;
    font-weight: bolder;
    color: #282828;
    position: absolute;
    margin-top: -50px;
    margin-left: 8%;
}

.work {
    font-family: Georgia, serif;
    font-size: 15px;
    position: absolute;
    margin-top: -45px;
    margin-left: 82em;
}

.about {
    font-family: Georgia, serif;
    font-size: 15px;
    position: absolute;
    margin-top: -45px;
    margin-left: 85em;
}

.kintro {
    background-color: #F6F6F6;
    height: 700px;
    /*position: relative;*/
}

.kintro .img {
    height: 600px;
    width: 1000px;
    background: url(../resources/kraftful.png);
    overflow: hidden;
    background-size:cover;
    margin-left: 400px;
    margin-top: 40px;
    opacity: 0.5;
    position: absolute;
}

.kintro .caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    margin-top: 15%;
    margin-left: 17%;
}

.kintro .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 20%;
}

.kbrief {
    height: 400px;
    background-color: black;
    position: relative;
}

.kbrief .kraftHome {
    height: 400px;
    width: 412px;
    background: url(../resources/kraftHome.png);
    overflow: hidden;
    background-size:cover;
    position: absolute;
    margin-left: 60%;
    margin-top: 4%;
}

.kbrief .introduction {
    position: absolute;
    margin-top: 1%;
    margin-left: 20%;
}

.kbrief .timeline {
    position: absolute;
    margin-top: 13%;
    margin-left: 20%;
}

.kbrief .myrole {
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
}

.kbrief .caption {
    font-family: "Times New Roman", Times, serif;
    color: #F6F6F6;
    font-size: 25px;
    font-weight: 500;
}

.kbrief .details {
    width: 10cm;
    margin-top: -5%;
    color: #F6F6F6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}


/*Kraftful insights*/
.kinsights {
    height: 900px;
    background-color: #F6F6F6;
    position: relative;
    text-align: center;
}

.kinsights .caption {
    font-size: 40px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-top: 100px;
    margin-left: 40%;
}

.kinsights .text1 {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    position: absolute;
    margin-top: 170px;
    margin-left: 15%;
}

.kinsights .thermoBox {
    position: absolute;
    margin-left: 10%;
    margin-top: 20%;
}

.kinsights .robotBox {
    position: absolute;
    margin-left: 40%;
    margin-top: 20%;
}

.kinsights .lockBox {
    position: absolute;
    margin-left: 70%;
    margin-top: 20%;
}


/*kraftful features*/
.kfeatures {
    height: 1200px;
    background-color: black;
    position: relative;
}

.kfeatures .caption {
    color: #F6F6F6;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 26px;
    margin-top: 40px;
    margin-left: 600px;
    position: absolute;
}

.kfeatures .login {
    position: absolute;
    margin-top: 120px;
}

.kfeatures .choose {
    position: absolute;
    margin-top: 350px;
    margin-left: 750px;
}

.kfeatures .mode {
    position: absolute;
    margin-top: 730px;
}


/*kraftful interactions*/
.interactions {
    height: 1500px;
    background-color: #E5E5E5;
    position: relative;
}

.interactions .caption {
    font-weight: 700;
    font-size: 26px;
    margin-top: 40px;
    margin-left: 600px;
    position: absolute;
}

.interactions .lockText {
    position: absolute;
    font-size: 16px;
    margin-top: 130px;
    margin-left: 180px;
}

.interactions .robotText {
    position: absolute;
    font-size: 16px;
    margin-top: 130px;
    margin-left: 600px;
}

.interactions .thermoText {
    position: absolute;
    font-size: 16px;
    margin-top: 130px;
    margin-left: 1000px;
}

.interactions .homeText {
    position: absolute;
    font-size: 16px;
    margin-top: 770px;
    margin-left: 380px;
}

.interactions .homePage {
    height: 550px;
    width: 300px;
    position: absolute;
    background: url(../resources/lock.png);
    overflow: hidden;
    background-size:cover;
    display: inline-block;
    margin-top: 150px;
    margin-left: 50px;
}

.interactions .robot {
    height: 550px;
    width: 420px;
    position: absolute;
    background: url(../resources/robot.png);
    overflow: hidden;
    background-size:cover;
    display: inline-block;
    margin-top: 130px;
    margin-left:400px;
}

.interactions .manage {
    height: 550px;
    width: 700px;
    position: absolute;
    background: url(../resources/manage.png);
    overflow: hidden;
    background-size:cover;
    display: inline-block;
    margin-top: 800px;
    margin-left: 80px;
}

.interactions .thermo {
    height: 500px;
    width: 400px;
    position: absolute;
    background: url(../resources/thermo.png);
    overflow: hidden;
    background-size:cover;
    display: inline-block;
    margin-top: 150px;
    margin-left: 900px;
}






