.head {
    height: 70px;
    background-color: #F6F6F6;
    opacity: 0.8;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: 0px 15px 10px -15px #111;
}

.text {
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    color: #282828;
    position: absolute;
    margin-top: -50px;
    margin-left: 100px;
}

.work {
    font-family: Georgia, serif;
    font-size: 15px;
    position: absolute;
    margin-top: -45px;
    margin-left: 82em;
}

.about {
    font-family: Georgia, serif;
    font-size: 15px;
    position: absolute;
    margin-top: -45px;
    margin-left: 85em;
}

.intro {
    background-color: #F5F5F5;
    height: 500px;
    /*position: relative;*/
}

.intro .miposter {
    height: 400px;
    width: 500px;
    background: url(../resources/poster.png);
    overflow: hidden;
    background-size:cover;
    display: inline-block;
    margin-top: 50px;
}

.intro .brief {
    display: inline-block;
    margin-left: 200px;
    margin-top: 100px;
    position: absolute;
}

.intro .timeline {
    display: inline-block;
    margin-left: 200px;
    margin-top: 270px;
    position: absolute;
}

.intro .role {
    display: inline-block;
    margin-left: 200px;
    margin-top: 350px;
    position: absolute;
}

.intro .caption {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 500;
}

.intro .details {
    width: 15cm;
    margin-top: -5px;
    color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.features {
    background-color: black;
    height: 1300px
}

.features .container {
    position: absolute;
    height: 400px;
    width: 600px;
    background: url(../resources/hello.png);
    background-size:cover;
    display: inline-block;
}

.container .player {
    position: relative;
    width: 600px;
    margin-left: 17px;
    margin-top: 27px;
}

.features .discription {
    color: #F6F6F6;
    display: inline-block;
}


/*music insights*/
.insights {
    background-color: #F5F5F5;
    height: 800px;
    position: relative;
}

.insights .img {
    background: url("../resources/genres.png");
    height: 500px;
    width: 900px;
    opacity: 0.9;
    position: absolute;
    background-size:cover;
    display: inline-block;
    margin-left: 15%;
    margin-top: 10%;
}

.insights .text1 {
    color: #2E86C1;
    margin-top: 15%;
    margin-left: 1%;
    position: absolute;
    width: 300px;
}

.insights .text2 {
    color: #28B463;
    margin-top: 30%;
    margin-left: 1%;
    position: absolute;
    width: 300px;
}

.insights .text3 {
    color: #D68910;
    margin-top: 15%;
    margin-left: 76%;
    position: absolute;
    width: 300px;
}

.insights .text4 {
    color: #C0392B;
    margin-top: 30%;
    margin-left: 76%;
    position: absolute;
    width: 300px;
}

.insights .text5 {
    color: #7D3C98;
    margin-top: 46%;
    margin-left: 23%;
    position: absolute;
    width: 800px;
}



