.box {
    width: 350px;
    height: 450px;
    border: 1px solid gray;
    background-color: #879BAF;
    text-align: center;
}

.box .title {
    font-size: 20px;
    color: black;
    opacity: 0.8;
    font-weight: 700;
    margin-top: 40px;
}

.box .name {
    font-family: ".SF NS Display", serif;
    font-size: 14px;
    color: #383838;
    opacity: 0.8;
    width: 300px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 8%;
}

.box .img {
    overflow: hidden;
    background-size:cover;
    position: absolute;
    margin-top: 5%;
    margin-left: 1.5%;
}

